In [385]:
#import libraries
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans
from sklearn.neighbors import NearestNeighbors, KNeighborsClassifier
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import StandardScaler,MinMaxScaler
from sklearn.pipeline import Pipeline, FeatureUnion
from sklearn.model_selection import train_test_split

In [386]:
# read csv file

df = pd.read_csv("houses_cleaned_baselineKNN_crimedata_foursquare.csv", index_col = 0)

In [387]:
df

,Unnamed: 0.1,final_price,bathrooms,parking,description,type,full_link,full_address,lat,long,...,Robbery_Rate,Shootings_Rate,Neighbourhood_Coordin,Restaurant,Bus_Stops,Parks,Schools,Entertainment_Services,Shopping_Plazas,Hospitals
0,0,855000,2,1,"Luxurious And Spacious Murano Tower. 2+1, 2 Ba...",Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"38 Grenville St, Toronto , Ontario, Canada",43.661896,-79.385748,...,371.578160,12.331211,"43.6727982,-79.3907344",50,0,25,25,50,1,10
1,85,785000,1,1,Five Condos - Stunning Bright Corner Unit In A...,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"5 St Joseph St, Toronto , Ontario, Canada",43.665753,-79.385579,...,371.578160,12.331211,"43.6727982,-79.3907344",50,0,25,25,50,1,10
2,154,718000,2,0,"Spacious 2 Bedrooms, 2 Full Baths, Over 1000 S...",Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"633 Bay St, Toronto , Ontario, Canada",43.656674,-79.383443,...,371.578160,12.331211,"43.6727982,-79.3907344",50,0,25,25,50,1,10
3,161,968000,2,1,Beautiful Burano On Bay Is A Diamond In The Sk...,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"832 Bay St, Toronto , Ontario, Canada",43.661927,-79.386511,...,371.578160,12.331211,"43.6727982,-79.3907344",50,0,25,25,50,1,10
4,216,650000,2,1,*Smart & Functional One Bdrm + Den + Extra Bat...,Condo Apt,https://www.zoocasa.com/toronto-on-real-estate...,"111 Elizabeth St, Toronto , Ontario, Canada",43.655055,-79.384721,...,371.578160,12.331211,"43.6727982,-79.3907344",50,0,25,25,50,1,10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15229,11499,1430000,5,2,Custom Built! Brand New Never Been Lived!Cover...,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"33 Cosens St, Toronto , Ontario, Canada",43.796526,-79.173685,...,127.159984,9.079792,"43.7901172,-79.1733344",9,0,1,6,0,1,0
15230,12791,900000,3,4,"Immaculate 4 Bed, 3 Bath Raised Bungalow With ...",Detached,https://www.zoocasa.com/toronto-on-real-estate...,"57 Watson St, Toronto , Ontario, Canada",43.786423,-79.173985,...,127.159984,9.079792,"43.7901172,-79.1733344",9,0,1,6,0,1,0
15231,14732,805000,4,2,"4 Bedroom, 4 Washroom Home In Prestigious High...",Detached,https://www.zoocasa.com/toronto-on-real-estate...,"44 Fishery Rd, Toronto , Ontario, Canada",43.791859,-79.175068,...,127.159984,9.079792,"43.7901172,-79.1733344",9,0,1,6,0,1,0
15232,14950,740000,4,4,You Will Love The Location Of This All Brick F...,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"76 Muirbank Blvd, Toronto , Ontario, Canada",43.795167,-79.158194,...,127.159984,9.079792,"43.7901172,-79.1733344",9,0,1,6,0,1,0
15233,15140,798000,4,4,Spacious Immaculate 4 Bedroom In A Prestigious...,Detached,https://www.zoocasa.com/toronto-on-real-estate...,"4 Lavery Tr, Toronto , Ontario, Canada",43.794767,-79.162195,...,127.159984,9.079792,"43.7901172,-79.1733344",9,0,1,6,0,1,0

In [388]:
df.columns

Index(['Unnamed: 0.1', 'final_price', 'bathrooms', 'parking', 'description',
       'type', 'full_link', 'full_address', 'lat', 'long', 'city_district',
       'mean_district_income', 'district_code', 'bedroom', 'den', 'sqft',
       'OBJECTID', 'Neighbourhood', 'Hood_ID', 'Shape__Area', 'Shape__Length',
       'Assault_Rate', 'Auto_Theft_Rate', 'Break_andEnter_Rate',
       'Robbery_Rate', 'Shootings_Rate', 'Neighbourhood_Coordin', 'Restaurant',
       'Bus_Stops', 'Parks', 'Schools', 'Entertainment_Services',
       'Shopping_Plazas', 'Hospitals'],
      dtype='object')

In [389]:
X = df[['bathrooms', 'parking', 'type','final_price',
       'Neighbourhood','bedroom', 'den', 'sqft']]

In [390]:
X

,bathrooms,parking,type,final_price,Neighbourhood,bedroom,den,sqft
0,2,1,Condo Apt,855000,Bay Street Corridor,2,1,850
1,1,1,Condo Apt,785000,Bay Street Corridor,1,1,750
2,2,0,Condo Apt,718000,Bay Street Corridor,2,0,1100
3,2,1,Condo Apt,968000,Bay Street Corridor,2,0,850
4,2,1,Condo Apt,650000,Bay Street Corridor,1,1,650
...,...,...,...,...,...,...,...,...
15229,5,2,Detached,1430000,Highland Creek,6,0,4250
15230,3,4,Detached,900000,Highland Creek,3,1,1570
15231,4,2,Detached,805000,Highland Creek,4,2,1530
15232,4,4,Detached,740000,Highland Creek,4,2,1670
15233,4,4,Detached,798000,Highland Creek,4,1,2250

In [258]:
#Column Transformer and Creating Pipeline for pre-processing

preprocessor = ColumnTransformer(transformers=[
    ('onehot', OneHotEncoder(), ['type','Neighbourhood']),
    ('scaler', MinMaxScaler(), ['bathrooms', 'parking','final_price',
                                'bedroom', 'den', 'sqft'])])

In [274]:
X_processed = preprocessor.fit_transform(X)

In [367]:
# fit nearest neighbours
nbrs = NearestNeighbors(n_neighbors = 5)
nbrs.fit(X_processed)

NearestNeighbors()

In [261]:
distances, indices = nbrs.kneighbors(X_processed)

In [262]:
distances

array([[0.00000000e+00, 3.82350692e-04, 1.14705208e-03, 1.91175346e-03,
        4.58820830e-03],
       [0.00000000e+00, 1.22352221e-03, 1.13940506e-02, 1.28469833e-02,
        1.98822360e-02],
       [2.10734243e-08, 1.52940276e-04, 2.14116388e-03, 6.18889585e-02,
        8.48960646e-02],
       ...,
       [0.00000000e+00, 2.25438121e-02, 4.18181480e-02, 1.85027022e-01,
        2.41678238e-01],
       [0.00000000e+00, 1.85027022e-01, 1.90379150e-01, 1.94940167e-01,
        1.97110325e-01],
       [0.00000000e+00, 7.78077641e-02, 1.46526385e-01, 1.67246753e-01,
        1.74119248e-01]])

#### Query functions

In [410]:
data = [[2, 1, 'Condo Apt', 855000,'Highland Creek', 2, 1, 850]]
X_test = pd.DataFrame(data, columns=['bathrooms', 'parking', 'type', 'final_price', 'Neighbourhood',
       'bedroom', 'den', 'sqft'])

In [411]:
#getting onehotencoded column values and create dataframe to merge on

cols = X.columns.unique().tolist()
hoods = X.Neighbourhood.unique().tolist()
types = X.type.unique().tolist()

onehotfeats = hoods+types+cols

zero_data = np.zeros(shape=(len(data),len(onehotfeats)))
df_onehot = pd.DataFrame(zero_data, columns=onehotfeats)

In [412]:
df_onehot.drop(['Neighbourhood','type'], inplace = True, axis = 1)

for i in hoods:
    if X_test.Neighbourhood.item() == i:
        X_test[i] = 1
X_test.drop('Neighbourhood',inplace = True,axis = 1)
        
for i in types:
    if X_test.type.item() == i:
        X_test[i] = 1
X_test.drop('type',inplace = True,axis = 1)

In [413]:
df_onehot

,Bay Street Corridor,Islington-City Centre West,Mount Pleasant West,Niagara,New Toronto,Lawrence Park South,Glenfield-Jane Heights,Mount Pleasant East,Malvern,Junction Area,...,Co-Ownership Apt,Plex,Link,Store W/Apt/Offc,bathrooms,parking,final_price,bedroom,den,sqft
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [414]:
cols_to_use = df_onehot.columns.difference(X_test.columns)

X_test = X_test.merge(df_onehot[cols_to_use], left_index = True, right_index = True, how = 'outer')

In [415]:
#Column Transformer and Creating Pipeline for pre-processing

preprocessor2 = ColumnTransformer(transformers=[
    ('scaler', MinMaxScaler(), ['bathrooms', 'parking','final_price',
                                'bedroom', 'den', 'sqft'])])

preprocessor2.fit(X.drop(['type','Neighbourhood'], axis=1))

ColumnTransformer(transformers=[('scaler', MinMaxScaler(),
                                 ['bathrooms', 'parking', 'final_price',
                                  'bedroom', 'den', 'sqft'])])

In [416]:
# scaler = MinMaxScaler()
# X_test[['bathrooms', 'parking','final_price','bedroom', 'den', 'sqft']] = scaler.fit_transform(X_test[['bathrooms', 'parking','final_price','bedroom', 'den', 'sqft']])

In [417]:
X_test[['bathrooms', 'parking','final_price','bedroom', 'den', 'sqft']] = preprocessor2.transform(X_test[['bathrooms', 'parking','final_price','bedroom', 'den', 'sqft']])

In [376]:
X_test = scipy.sparse.csr_matrix(X_test.values)

In [380]:
X_test

<1x157 sparse matrix of type '<class 'numpy.float64'>'
	with 8 stored elements in Compressed Sparse Row format>

In [377]:
distances, indices = nbrs.kneighbors(X_test)

In [378]:
indices

array([[ 4946,  6607, 11464,  6617,  6642]], dtype=int64)

In [337]:
X.iloc[11464]

bathrooms                       1
parking                         0
type                     Detached
final_price                588500
Neighbourhood    Woodbine-Lumsden
bedroom                         1
den                             1
sqft                          670
Name: 11464, dtype: object

#### By appending and retraining

In [398]:
# data = [[2, 1, 'Condo Apt', 855000,'Bay Street Corridor', 5, 1, 3000]]
data = [[2, 1, 'Condo Apt', 855000,'Highland Creek', 2, 1, 850]]

X_test = pd.DataFrame(data, columns=['bathrooms', 'parking', 'type', 'final_price', 'Neighbourhood',
       'bedroom', 'den', 'sqft'])

In [399]:
X = X.append(X_test,ignore_index = True)

In [420]:
#Column Transformer and Creating Pipeline for pre-processing

def recommender(data):

    X = df[['bathrooms', 'parking', 'type','final_price',
       'Neighbourhood','bedroom', 'den', 'sqft']]
    
    X_test = pd.DataFrame(data, columns=['bathrooms', 'parking', 'type', 'final_price', 'Neighbourhood',
       'bedroom', 'den', 'sqft'])
    
    X = X.append(X_test,ignore_index = True)
    
    preprocessor = ColumnTransformer(transformers=[
        ('onehot', OneHotEncoder(), ['type','Neighbourhood']),
        ('scaler', MinMaxScaler(), ['bathrooms', 'parking','final_price',
                                    'bedroom', 'den', 'sqft'])])

    
    X_processed = preprocessor.fit_transform(X)

    # fit nearest neighbours
    nbrs = NearestNeighbors(n_neighbors = 5)
    nbrs.fit(X_processed)

    distances, indices = nbrs.kneighbors(X_processed)
    
    def print_similar(id):
        for id in indices[id][1:]:
            print (df.iloc[id])

    print_similar(X.index[-1])

In [423]:
data = [[2, 1, 'Detached', 1000000,'Highland Creek', 4, 1, 2000]]
recommender(data)

Unnamed: 0.1                                                           4997
final_price                                                          965000
bathrooms                                                                 4
parking                                                                   2
description               Welcome To The Desirable Highland Creek Neighb...
type                                                               Detached
full_link                 https://www.zoocasa.com/toronto-on-real-estate...
full_address                      9 Walding Gate, Toronto , Ontario, Canada
lat                                                               43.786034
long                                                             -79.177453
city_district                                                Highland Creek
mean_district_income                                                  40972
district_code                                                           134
bedroom                                                                   4
den                                                                       1
sqft                                                                   2250
OBJECTID                                                                 72
Neighbourhood                                                Highland Creek
Hood_ID                                                                 134
Shape__Area                                                  5248057.659668
Shape__Length                                                   9914.922698
Assault_Rate                                                      447.88006
Auto_Theft_Rate                                                  117.118962
Break_andEnter_Rate                                               241.45518
Robbery_Rate                                                     127.159984
Shootings_Rate                                                     9.079792
Neighbourhood_Coordin                                43.7901172,-79.1733344
Restaurant                                                                9
Bus_Stops                                                                 0
Parks                                                                     1
Schools                                                                   6
Entertainment_Services                                                    0
Shopping_Plazas                                                           1
Hospitals                                                                 0
Name: 15209, dtype: object
Unnamed: 0.1                                                           4524
final_price                                                          875000
bathrooms                                                                 3
parking                                                                   2
description               Fantastic Property In Desirable Highland Creek...
type                                                               Detached
full_link                 https://www.zoocasa.com/toronto-on-real-estate...
full_address                    138 Calverley Tr, Toronto , Ontario, Canada
lat                                                               43.795183
long                                                             -79.183179
city_district                                                Highland Creek
mean_district_income                                                  40972
district_code                                                           134
bedroom                                                                   4
den                                                                       0
sqft                                                                   1909
OBJECTID                                                                 72
Neighbourhood                                                Highland Creek
Hood_ID                                                                 134
Shape__Area                                                  5248057.659668
Shape__Length                                                   9914.922698
Assault_Rate                                                      447.88006
Auto_Theft_Rate                                                  117.118962
Break_andEnter_Rate                                               241.45518
Robbery_Rate                                                     127.159984
Shootings_Rate                                                     9.079792
Neighbourhood_Coordin                                43.7901172,-79.1733344
Restaurant                                                                9
Bus_Stops                                                                 0
Parks                                                                     1
Schools                                                                   6
Entertainment_Services                                                    0
Shopping_Plazas                                                           1
Hospitals                                                                 0
Name: 15208, dtype: object
Unnamed: 0.1                                                           5601
final_price                                                          860000
bathrooms                                                                 3
parking                                                                   2
description               Original Owners From New!! This Freshly Painte...
type                                                               Detached
full_link                 https://www.zoocasa.com/toronto-on-real-estate...
full_address                     49 Canmore Blvd, Toronto , Ontario, Canada
lat                                                               43.793244
long                                                             -79.180667
city_district                                                Highland Creek
mean_district_income                                                  40972
district_code                                                           134
bedroom                                                                   4
den                                                                       0
sqft                                                                   1760
OBJECTID                                                                 72
Neighbourhood                                                Highland Creek
Hood_ID                                                                 134
Shape__Area                                                  5248057.659668
Shape__Length                                                   9914.922698
Assault_Rate                                                      447.88006
Auto_Theft_Rate                                                  117.118962
Break_andEnter_Rate                                               241.45518
Robbery_Rate                                                     127.159984
Shootings_Rate                                                     9.079792
Neighbourhood_Coordin                                43.7901172,-79.1733344
Restaurant                                                                9
Bus_Stops                                                                 0
Parks                                                                     1
Schools                                                                   6
Entertainment_Services                                                    0
Shopping_Plazas                                                           1
Hospitals                                                                 0
Name: 15210, dtype: object
Unnamed: 0.1                                                           1888
final_price                                                          805000
bathrooms                                                                 3
parking                                                                   2
description               Excellent Location, Highly Demanded Area With ...
type                                                               Detached
full_link                 https://www.zoocasa.com/toronto-on-real-estate...
full_address                      32 Charcoal Dr, Toronto , Ontario, Canada
lat                                                               43.795445
long                                                             -79.177919
city_district                                                Highland Creek
mean_district_income                                                  40972
district_code                                                           134
bedroom                                                                   4
den                                                                       0
sqft                                                                   2250
OBJECTID                                                                 72
Neighbourhood                                                Highland Creek
Hood_ID                                                                 134
Shape__Area                                                  5248057.659668
Shape__Length                                                   9914.922698
Assault_Rate                                                      447.88006
Auto_Theft_Rate                                                  117.118962
Break_andEnter_Rate                                               241.45518
Robbery_Rate                                                     127.159984
Shootings_Rate                                                     9.079792
Neighbourhood_Coordin                                43.7901172,-79.1733344
Restaurant                                                                9
Bus_Stops                                                                 0
Parks                                                                     1
Schools                                                                   6
Entertainment_Services                                                    0
Shopping_Plazas                                                           1
Hospitals                                                                 0
Name: 15202, dtype: object